In [2]:
import requests
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point
from pandas.io.json import json_normalize

%matplotlib inline

In [3]:
endpoint_1 = 'https://api.pdga.com/services/json/user/login'

In [4]:
params = {'username':'nightop','password':'Sayin91!'}

In [5]:
response = requests.post(endpoint_1, data = params)

In [6]:
response

In [7]:
res = response.json()

In [8]:
print(res)

{'sessid': 'H1MemPAdkG6iKtB4MAirM4_eKV2dfcw0sSnCS5zZnJM', 'session_name': 'SSESSf1f85588bb869a1781d21eec9fef1bff', 'token': 'xEyc6EGrKqXVjr5IM1SZhRA8G2p4YVOknImT6wS0p2g', 'user': {'name': 'Nightop', 'mail': 'michaelm9124@yahoo.com', 'roles': {'2': 'authenticated user', '8': 'authorized developer'}}}

In [9]:
endpoint_2 = 'https://api.pdga.com/services/json/players'

In [10]:
headers = {'Cookie':'SSESSf1f85588bb869a1781d21eec9fef1bff=feAeIH9Myp6WHVt-g21vLSlCIFHu07usfw2h8rRZnk4'}

In [11]:
params = {'pdga_number':[1]}

In [12]:
for i in range(1,5):

    website_url = 'https://www.pdga.com/players' + str(i)
    response = requests.get(website_url)

In [13]:
response = requests.get(endpoint_2, headers = headers, params = params)

In [14]:
response

In [15]:
res = response.json()

In [16]:
print(res)

{'sessid': 'feAeIH9Myp6WHVt-g21vLSlCIFHu07usfw2h8rRZnk4', 'status': 0, 'players': [{'first_name': 'Steady Ed', 'last_name': 'Headrick', 'pdga_number': '1', 'membership_status': 'current', 'membership_expiration_date': '2200-12-31', 'classification': 'P', 'city': 'Watsonville', 'state_prov': 'CA', 'country': 'US', 'rating': None, 'rating_effective_date': None, 'official_status': 'no', 'official_expiration_date': None, 'last_modified': '2016-11-15'}]}

In [17]:
df = pd.json_normalize(res['players'])
df

,first_name,last_name,pdga_number,membership_status,membership_expiration_date,classification,city,state_prov,country,rating,rating_effective_date,official_status,official_expiration_date,last_modified
0,Steady Ed,Headrick,1,current,2200-12-31,P,Watsonville,CA,US,None,None,no,None,2016-11-15

In [21]:
all_items = []

main_df = pd.DataFrame()

for i in range(0,782):
    url = 'https://api.pdga.com/services/json/players'
    offset = i * 200
    params = {'country':['US'],'limit':[200],'offset':[offset]}
    response = requests.get(url, headers=headers, params=params).json()
    all_items.append(response)
    df = pd.json_normalize(response['players'])
    main_df = main_df.append(df)
main_df

,first_name,last_name,pdga_number,membership_status,membership_expiration_date,classification,city,state_prov,country,rating,rating_effective_date,official_status,official_expiration_date,last_modified
0,Steady Ed,Headrick,1,current,2200-12-31,P,Watsonville,CA,US,None,None,no,None,2016-11-15
1,Victor,Malafronte,2,expired,1999-12-31,P,Oceanside,CA,US,None,None,no,None,2005-04-21
2,Dan Stork,Roddick,3,current,2112-12-31,P,Pasadena,CA,US,809,2021-05-11,yes,2021-12-30,2020-09-16
3,Jo,Cahow,4,expired,1987-12-31,None,Carpinterla,CA,US,None,None,no,None,2017-08-09
4,John,Mortimer,5,expired,1987-12-31,None,Berkeley,CA,US,None,None,no,None,2007-05-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Melissa,Plant,187685,current,2022-12-31,A,little egg harbor,NJ,US,None,None,no,None,2021-08-06
83,Joe,Paulson,187686,current,2021-12-31,A,Jacksonport,WI,US,None,None,no,None,2021-08-06
84,Jacob,Paulson,187687,current,2021-12-31,A,Jacksonport,WI,US,None,None,no,None,2021-08-06
85,Kenzie,Busby,187688,current,2021-12-31,A,FRANKLIN PARK,NJ,US,None,None,no,None,2021-08-06
86,Kaila,Redfield,187689,current,2021-12-31,A,Olivet,MI,US,None,None,no,None,2021-08-06

In [22]:
main_df.to_csv(r'C:\Users\micha\Desktop\NSS School Folder\Python_for_analytics\projects\PDGA_Course_Analysis\data\main_player_df.csv', index=False)